body{
    height: 100vh;
    margin: 0;
    background-color: #faf4e1;
    color:#6F502D;
}


.start-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    padding: 0.5rem;

}


.button-style{
    border-radius: 15px;
    width: 150px;
    height: 40px;
    font-family: Chalkboard;
    font-size: 20px;
    color: #6F502D;
    border: 3px solid #6F502D;
}


.cardArea{
    height:65vh;
    width: 80vw;
    margin: auto;
}

.card-logo{
    height: auto;
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.cardContainer{
    width: 16.66%;
    float: left;
    height: 33.33%;
}


@media only screen and (max-width:940px){ /* Tablets*/
    .cardContainer {
        width: 16.66%;
        height: 27.33%;
    }
}

@media only screen and (max-width:700px){ /* Tablets*/
    .cardContainer {
        width: 16.66%;
        height: 20.33%;
    }
}

.card{
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    position: relative;
    float: left;
    /*border: 2px solid #6F502D;*/
}

.main-title{
    padding: 10px;
    font-size: 4vh;
    font-family:Chalkduster ;
    text-align:center;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.cardFront, .cardBack{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.title{
    font-family: Chalkboard;
    font-size: 80px;
    margin: 1.5rem;
}

.start{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.cardFront{
    background-color: white;
}

.cardBack{
    background-color:white;
}

.game-style{
    font-size: 20px;
    font-family: Chalkboard;
}

.footer{
    height: 15vh;
    margin-left: 15%;
    padding: 10px;
}

.hidden{
    display: none;
}